{% extends "base.html" %}
{% block start %}
      <div class="container mt-3">
        <form class="card shadow-lg col-6 p-3 mx-auto" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Login</h2>

            {% if messages %}
            {{ message.tags }}              
            <div class="alert alert-primary" role="alert">
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
            {% endif %}

                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Username</label>
                  <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <p>Don't have Account <a href="/register/">Register</a></p>
                <button type="submit" class="btn btn-primary">login</button>
          </form>  
        </div>
      </div>
    </div>
{% endblock %}